<div class="payment-method" data-bind="css: {'_active': (getCode() == isChecked())}">
    <div class="payment-method-title field choice">
        <input type="radio"
               name="payment[method]"
               class="radio"
               data-bind="attr: {'id': getCode()}, value: getCode(), checked: isChecked, click: selectPaymentMethod, visible: isRadioButtonVisible()"/>
        <label data-bind="attr: {'for': getCode()}" class="label"><span data-bind="text: getTitle()"></span></label>
    </div>
    <div class="payment-method-content">
        <!-- ko foreach: getRegion('messages') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
        <div class="payment-method-billing-address">
            <!-- ko foreach: $parent.getRegion(getBillingAddressFormName()) -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>

        <div id="sp-container" data-bind="afterRender: requireSageJs"></div>

        <!-- ko if: (window.magenest.sage.isGiftAid) -->
        <div class="control">
            <input type="checkbox"
                   name="payment[gift_aid]"
                   value="1"
                   class="checkbox"
                   id="sage-dropin-gift_aid"/>
            <label class="label" for="sage-dropin-gift_aid">
                <span><!-- ko text: $t('Donate Taxes ?')--><!-- /ko --></span>
            </label>
        </div>
        <!-- /ko -->

        <div class="checkout-agreements-block">
            <!-- ko foreach: $parent.getRegion('before-place-order') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>

        <div class="actions-toolbar">
            <div class="primary">
                <button class="action primary checkout"
                        type="submit"
                        data-bind=" click: placeOrderSage, attr: {title: $t('Continue')}, css: {disabled: !isPlaceOrderActionAllowed()}, enable: (getCode() == isChecked()) "
                        disabled>
                    <span data-bind="i18n: 'Place Order'"></span>
                </button>
            </div>
        </div>
    </div>
</div>